body {
    background-color: bisque;
    font-family: Consolas, sans-serif;
    text-align: center;
}



h1 {
    font-size: 45px;
    color: lightblue;

}

p1 {
    font: consolas;
    font-size: 22px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.yes{
    background-color: green;
    border: 3px solid black;
    padding: 10px 20px;
}

.no{
    background-color: red;
    border: 3px solid black;
    padding: 10px 20px;
}